/*Reset*/
@import "reset";
/*Box-sizing*/
* {
  box-sizing: border-box;
}
// Display
$dg: grid;
$df: flex;

// Colors
$light-pink: #ffdfe0;
$pink: #feb8b8;
$black: #000;
$white: #ffffff;
$graphite: #262626;
$fuchsia: #a7275a;
$light-green: #dadeb9;
$green: #98b08c;

// Fonts
$main-font: "Montserrat Alternates", sans-serif;
$main-size: 36px;

/*Screen sizes*/
$big-display: 1920px;
$tablet: 1149px;
$mobile: 769px;
body {
  margin: 0;
}

// Стили для раздела "О нас"
.about-us {
  // margin: 10px 10px 10px 10px;
  // border: red solid;
  color: $graphite;
  width: 100%;
  background-image: url(/assets/images/Background/photo_background_15.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $pink;

  &__title {
    // border: red solid;
    display: $df;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    color: $pink;
  }
  &__list {
    display: $df;
    flex-direction: column;
    align-content: center;
    align-items: center;
    // border: red solid;
  }
  &__list-2 {
    border: $fuchsia solid 1px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    background: rgb(255, 206, 206, 0.5);
  }
  &__list-item::before {
    content: "✅️";
  }
  &__list-item {
    margin: 5px 0px 10px 0px;
    font-size: 20px;
  }

  &__text {
    border: red solid;
    line-height: 30px;
    display: $df;
    flex-direction: column;
    align-items: center;
    font-size: 20px;

    padding-bottom: 25px;
  }
}
.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 25px;

  &__block {
    max-width: 300px;
    height: 400px;
    margin-bottom: 15px;
  }
  &__block:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  }
  &__pic {
    object-fit: cover;
    height: auto;
    width: 100%;
    max-width: 300px;
  }
}
