// Font
@font-face {
  font-family: "NexaRegular";
  font-weight: 400;
  src: url(../fonts/NexaRegular.woff) format("woff");
}

/*Reset*/
@import "reset";
/*Box-sizing*/
* {
  box-sizing: border-box;
}
// Display
$dg: grid;
$df: flex;

// Colors
$light-pink: #ffdfe0;
$pink: #feb8b8;
$black: #000;
$white: #ffffff;
$graphite: #262626;
$fuchsia: #a7275a;
$light-green: #dadeb9;
$green: #98b08c;

// Fonts
$main-font: "NexaRegular", sans-serif;
$main-size: 36px;

/*Screen sizes*/
$big-display: 1920px;
$tablet: 1149px;
$mobile: 769px;
body {
  margin: 0;
}

// Стили для раздела "О нас"
.about-us {
  // border: red solid;
  color: $graphite;
  width: 100%;
  // height: auto;
  background-image: url(/assets/images/Background/photo_background_15_1.JPG);
  background-repeat: no-repeat;
  background-position: center;
  // background-size: 100%; //растянуть фото на всю ширину
  background-color: $pink;

  &__title {
    // border: red solid;
    display: $df;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    color: $pink;
  }
  &__list {
    display: $df;
    flex-direction: column;
    align-content: center;
    align-items: center;
    // border: red solid;
  }
  &__list-2 {
    border: $fuchsia solid 2px;
    border-radius: 50px;
    margin: 20px 0px 150px 0px; //отступы по фото вниз
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    background: rgb(255, 206, 206, 0.3);
  }
  &__list-item::before {
    content: "✔";
  }
  &__list-item {
    margin: 5px 0px 10px 0px;
    font-size: 20px;
  }
}

.about-info {
  // border: red solid 1px;
  margin: 20px 0px 0px 0px;
  padding-top: 15px;
  display: $df;
  flex-direction: column;
  align-items: center;
  background-color: $pink;

  &__text {
    // border: red solid 1px;
    width: 790px;
    line-height: 30px;
    font-size: 20px;
    padding: 0px 10px 25px 10px;
  }
}
