@font-face {
  font-family: "NexaRegular";
  font-weight: 400;
  src: url(../fonts/NexaRegular.woff) format("woff");
}

// Colors
$light-pink: #ffdfe0;
$pink: #feb8b8;
$black: #000;
$white: #ffffff;
$graphite: #262626;
$fuchsia: #a7275a;
$light-green: #dadeb9;
$green: #98b08c;

// Fonts
$main-font: "NexaRegular", sans-serif;
$main-size: 36px;
$padding: 1vh;

// Display
$df: flex;

/*Reset*/
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Box-sizing*/
* {
  box-sizing: border-box;
}

/*Screen sizes*/
$big-display: 1920px;
$tablet: 1149px;
$mobile: 769px;


