@charset "UTF-8";
/*Reset*/
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Box-sizing*/
* {
  box-sizing: border-box;
}

/*Screen sizes*/
body {
  margin: 0;
}

.about-us {
  color: #262626;
  width: 100%;
  background-image: url(/assets/images/Background/photo_background_15.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #feb8b8;
}
.about-us__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  color: #feb8b8;
}
.about-us__list {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.about-us__list-2 {
  border: #a7275a solid 1px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 25px 10px 25px;
  background: rgba(255, 206, 206, 0.5);
}
.about-us__list-item::before {
  content: "✅️";
}
.about-us__list-item {
  margin: 5px 0px 10px 0px;
  font-size: 20px;
}
.about-us__text {
  border: red solid;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding-bottom: 25px;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 25px;
}
.gallery-container__block {
  max-width: 300px;
  height: 400px;
  margin-bottom: 15px;
}
.gallery-container__block:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.gallery-container__pic {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-width: 300px;
}
