@font-face {
  font-family: "NexaRegular";
  font-weight: 400;
  src: url(../fonts/NexaRegular.woff) format("woff");
}

/*Reset*/
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Box-sizing*/
* {
  box-sizing: border-box;
}

/*Screen sizes*/

/*Стили для header начало*/

.header {
  background-color: #feb8b8;
  padding: 20px 0;
  margin-bottom: -500px;
  position: relative;
  max-width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  transition: 0.3s;
  z-index: 100;
}

.logo a {
  display: block;
}

.logo a img {
  display: block;
  width: 75%;
  height: 95%;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 3;
  transition: 0.5s;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  color: #262626;
  text-decoration: none;
  display: block;
  padding: 1px 25px;
  font-size: 2vw;
  background: linear-gradient(#a7275a 0 0) 0 100%/var(--t, 0) 2px no-repeat;
  transition: 0.5s;
}

.menu li a:hover {
  --t: 100%;
}

.toggle-menu {
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .toggle-menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 100px;
    right: 100px;
    width: 26px;
    height: 26px;
    z-index: 20;
    cursor: pointer;
  }

  .hamburger {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 100px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
    color: #a7275a;
  }

  .hamburger>span,
  .hamburger>span::before,
  .hamburger>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    height: 2px;
    background: #a7275a;
    transition: 0.5s;
  }

  .hamburger>span::before {
    content: "";
    top: -10px;
  }

  .hamburger>span::after {
    content: "";
    top: 10px;
  }

  .header {
    padding: 10px 0px;
  }

  .logo a img {
    display: block;
    width: 60%;
    height: 80%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 100vh;
    list-style: none;
    background: #ffdfe0;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .menu__item {
    display: block;
    margin: 30px 0;
    color: #a7275a;
    text-decoration: none;
    font-size: 2vw;
    background: linear-gradient(#a7275a 0 0) 0 100%/var(--t, 0) 2px no-repeat;
    transition: 0.5s;
  }

  .menu__item:hover {
    color: #a7275a;
    text-decoration: none;
    display: block;
    margin: 3vh;
    font-size: 4.5vw;
    background: linear-gradient(#a7275a 0 0) 0 100%/var(--t, 0) 2px no-repeat;
    transition: 0.3s;
    --t: 100%;
  }

  .toggle-menu:checked~.hamburger>span {
    transform: rotate(45deg);
  }

  .toggle-menu:checked~.hamburger>span::before {
    top: 0;
    transform: rotate(0);
  }

  .toggle-menu:checked~.hamburger>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .toggle-menu:checked~.menu {
    visibility: visible;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 10px 0;
    margin-bottom: -200px;
    height: 15vh;
    background-color: #feb8b8;
  }

  .logo a img {
    display: block;
    width: 40%;
    height: 60%;
  }

  .toggle-menu {
    top: 60px;
    right: 60px;
  }

  .hamburger {
    top: 60px;
    right: 60px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0;
    margin-bottom: -130px;
    height: 12vh;
    background-color: #feb8b8;
  }

  .toggle-menu {
    top: 40px;
    right: 50px;
  }

  .hamburger {
    top: 40px;
    right: 50px;
  }

  .menu li a {
    font-size: 5vw;
  }
}

@media screen and (max-width: 470px) {
  .header {
    margin: 0;
    height: 9vh;
    background-color: #feb8b8;
  }

  .toggle-menu {
    top: 30px;
    right: 50px;
  }

  .hamburger {
    top: 30px;
    right: 50px;
  }

  .menu li a {
    font-size: 5vw;
  }
}

/*Стили для header конец*/

/*Стили для информационного блока начало*/

.info {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.hide {
  display: none;
}

.adult:hover+.hide {
  display: block;
  color: #a7275a;
}

/*Стили для информационного блока конец*/