@font-face {
  font-family: "NexaRegular";
  font-weight: 400;
  src: url(../fonts/NexaRegular.woff) format("woff");
}
/*Reset*/
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Box-sizing*/
* {
  box-sizing: border-box;
}

/*Screen sizes*/
body {
  margin: 0;
}

.about-us {
  color: #262626;
  width: 100%;
  background-image: url(/assets/images/Background/photo_background_15_1.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #feb8b8;
}
.about-us__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  color: #feb8b8;
}
.about-us__list {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.about-us__list-2 {
  border: #a7275a solid 2px;
  border-radius: 50px;
  margin: 20px 0px 150px 0px;
  font-size: 20px;
  padding: 10px 25px 10px 25px;
  background: rgba(255, 206, 206, 0.3);
}
.about-us__list-item::before {
  content: "✔";
}
.about-us__list-item {
  margin: 5px 0px 10px 0px;
  font-size: 20px;
}

.about-info {
  margin: 20px 0px 0px 0px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #feb8b8;
}
.about-info__text {
  width: 790px;
  line-height: 30px;
  font-size: 20px;
  padding: 0px 10px 25px 10px;
}
